/*----- @imports -----*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Open+Sans:600,700&display=swap');

/*----- split image -----*/
:root {
    --blueDark1: 30, 136, 229;
    --blueDark2: 25, 118, 210;
    --blueDark3: 21, 101, 192;
    --blueDark4: 13, 71, 161;
    --lightBlueDark4: 1, 87, 155;
    /* --greyLight4: 245, 245, 245; */
    /* --greyDark4: 33, 33, 33; */
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --fontDefault: "Open Sans", Verdana, Geneva, Tahoma, sans-serif, serif;
    --fontBowlby: "Bowlby One", cursive;
    --textShadow: 2px 2px 2px rgba(var(--black), 0.5);
    --transAll: all 0.3s ease-in-out;
}

* {
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--fontDefault);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}

*::selection {
    background-color: rgba(var(--lightBlueDark4), 1);
    color: rgba(var(--white), 1);
}

:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    vertical-align: middle;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

.text-shadow {
    text-shadow: var(--textShadow);
}

/*----- toTop button -----*/
#btn-up {
    font-size: 1.75em;
    cursor: pointer;
    position: fixed;
    bottom: 1em;
    right: -3em;
    opacity: 0.5;
    z-index: 100;
    text-shadow: var(--textShadow);
    transform: rotate(180deg);
    transition: var(--transAll);
}

#btn-up:hover {
    opacity: 1;
}

/*----- split image -----*/
header {
    position: relative;
    width: 100%;
    height: 30vw;
    overflow: hidden;
}

.layer {
    position: absolute;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
}

.layer .content-header {
    position: absolute;
    width: 100vw;
    min-height: 30vw;
}

.layer .content-body {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.layer img {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer span {
    font-size: 3vw;
    font-family: var(--fontBowlby);
    letter-spacing: 3px;
}

.designer {
    z-index: 1;
}

.designer .content-body {
    right: 5%;
}

.developer {
    z-index: 2;
    /* width: 50vw; */
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
    animation: developer 6s ease-in-out;
}

.developer .content-header {
    transform: skew(30deg);
    margin-left: 1000px;
}

.developer .content-body {
    left: 5%;
}

@keyframes developer {
	0% {width: calc(50vw + 1000px);}
	33% {width: calc(100vw + 1200px);}
	66% {width: calc(0vw + 800px);}
	100% {width: calc(50vw + 1000px);}
}

.animate-designer span {
    display: inline-block;
    opacity: 0;
    transform: rotate(-180deg) translate(150px, 0);
    animation: designer 0.75s forwards;
}

@keyframes designer {
	10% {opacity: 1;}
	100% {transform: rotate(0deg) translate(0); opacity: 1;}
}

.animate-designer span:nth-of-type(1) {
    animation-delay: 3s;
}

.animate-designer span:nth-of-type(2) {
    animation-delay: 3.05s;
}

.animate-designer span:nth-of-type(3) {
    animation-delay: 3.1s;
}

.animate-designer span:nth-of-type(4) {
    animation-delay: 3.15s;
}

.animate-designer span:nth-of-type(5) {
    animation-delay: 3.2s;
}

.animate-designer span:nth-of-type(6) {
    animation-delay: 3.25s;
}

.animate-designer span:nth-of-type(7) {
    animation-delay: 3.3s;
}

.animate-designer span:nth-of-type(8) {
    animation-delay: 3.35s;
}

/*----- navbar -----*/
nav {
    top: 0;
    position: sticky;
    height: 50px;
    line-height: 50px;
    background-color: rgba(var(--lightBlueDark4), 1);
    box-shadow: 0 4px 16px 0 rgba(var(--lightBlueDark4), 0.5);
}

nav i {
    font-size: 2em;
    width: 19vw;
    vertical-align: middle;
    height: unset;
}

nav ul li {
    width: 20%;
    perspective: 1000px;
    position: relative;
    display: inline-block;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: var(--textShadow);
    font-family: var(--fontBowlby);
}

nav ul li .data-hover {
    position: relative;
    display: inline-block;
    height: 50px;
    background-color: rgba(var(--lightBlueDark4), 1);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    transition: var(--transAll);
}

nav ul li .data-hover::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.25em;
    transition: none;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

nav ul li:hover .data-hover,
nav ul li:focus .data-hover {
    transform: none;
    background-color: rgba(var(--blueDark1), 1);
}

/*----- -----*/
section {
    padding: 1em;
    width: 100%;
}

/*----- about -----*/
#about {
    min-height: 150vh;
}

/*----- projects -----*/
#projects {
    min-height: 150vh;
}

/*----- skills -----*/
#skills {
    min-height: 150vh;
}

/*----- footer -----*/
footer {
    min-height: 100vh;
    width: 100%;
}

/*----- MEDIA QUERIES -----*/

/* >600px Materialize Tablet size (.m) */
@media (min-width: 600px) {
    nav {
        background-color: rgba(var(--black), 1);
    }

    nav ul li .data-hover::before {
        content: attr(data-hover);
        transition: var(--transAll);
        background-color: rgba(var(--blueDark1), 1);
    }

    nav ul li:hover .data-hover,
    nav ul li:focus .data-hover {
        transform: rotateX(90deg) translateY(-22px);
    }

    nav ul li:hover .data-hover::before,
    nav ul li:focus .data-hover::before {
        background-color: rgba(var(--blueDark1), 1);
    }
}

/* >992px Materialize Desktop size (.l) */
@media (min-width: 992px) {}
