/*-----------------------------------------*/
/*---------------- @IMPORTS ---------------*/
/*-----------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Permanent+Marker|Montserrat:400,600,700|Open+Sans:400,600,700&display=swap");

/*-----------------------------------------*/
/*------------ :ROOT VARIABLES ------------*/
/*-----------------------------------------*/
:root {
    --blueDark1: 30, 136, 229;
    --blueDark2: 25, 118, 210;
    --blueDark3: 21, 101, 192;
    --blueDark4: 13, 71, 161;
    --blueGreyDark4: 55, 71, 79;
    --lightBlue: 3, 169, 244;
    --lightBlueDark4: 1, 87, 155;
    --greyLight4: 245, 245, 245;
    /* --greyDark2: 97, 97, 97; */
    --greyDark3: 66, 66, 66;
    --greyDark4: 33, 33, 33;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --fontDefault: "Open Sans", Verdana, Geneva, Tahoma, sans-serif, serif;
    --fontBowlby: "Bowlby One", cursive;
    --fontMontserrat: "Montserrat", sans-serif;
    --fontPermanentMarker: "Permanent Marker", sans-serif;
    --textShadow: 2px 2px 2px rgba(var(--black), 0.5);
    --transAll: all 0.3s ease-in-out;
}

/*-----------------------------------------*/
/*----------------- GLOBAL ----------------*/
/*-----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--fontDefault);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgba(var(--greyDark4), 1);
    margin: 10px;
}

html::before,
html::after,
body::before,
body::after {
    content: "";
    background-color: rgba(var(--blueDark1), 0.5);
    position: fixed;
    display: block;
    z-index: 999;
}

html::before {
    height: 10px;
    left: 0;
    right: 0;
    top: 0;
}

html::after {
    width: 10px;
    top: 0;
    right: 0;
    bottom: 0;
}

body::before {
    height: 10px;
    right: 0;
    bottom: 0;
    left: 0;
}

body::after {
    width: 10px;
    top: 0;
    bottom: 0;
    left: 0;
}

*::selection {
    background-color: rgba(var(--lightBlueDark4), 1);
    color: rgba(var(--white), 1);
}

:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    vertical-align: middle;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

.font-bowlby {
    font-family: var(--fontBowlby);
}

.font-montserrat {
    font-family: var(--fontMontserrat);
}

.font-permanent-marker {
    font-family: var(--fontPermanentMarker);
}

.text-shadow {
    text-shadow: var(--textShadow);
}

.active-section {
    color: rgba(var(--lightBlue), 1);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

cite {
    cursor: pointer;
}

/*-----------------------------------------*/
/*-------------- TOP BUTTON ---------------*/
/*-----------------------------------------*/
#btn-top {
    font-size: 1.75em;
    cursor: pointer;
    position: fixed;
    border: 0;
    border-top-left-radius: 8px;
    padding: 0.5em;
    bottom: -100px;
    right: 0;
    height: 2em;
    opacity: 0.75;
    z-index: 102;
    text-shadow: var(--textShadow);
    transition: var(--transAll);
}

#btn-top i {
    vertical-align: text-top;
    padding-bottom: 1em;
}

#btn-top:hover {
    opacity: 1;
    height: 5em;
}

/*-----------------------------------------*/
/*-------------- SPLIT IMAGE --------------*/
/*-----------------------------------------*/
header {
    position: relative;
    width: 100%;
    height: 30vw;
    overflow: hidden;
    z-index: 101;
}

.layer {
    position: absolute;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
}

.layer .content-header {
    position: absolute;
    width: 100vw;
    min-height: 30vw;
}

.layer .content-body {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.layer img {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer span {
    font-size: 3vw;
    font-family: var(--fontBowlby);
    letter-spacing: 3px;
}

.designer {
    z-index: 1;
}

.designer .content-body {
    right: 5%;
}

.developer {
    z-index: 2;
    /* width: 50vw; */
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
    animation: developer 6s ease-in-out;
}

.developer .content-header {
    transform: skew(30deg);
    margin-left: 1000px;
}

.developer .content-body {
    left: 5%;
}

@keyframes developer {
	0% {width: calc(50vw + 1000px);}
	33% {width: calc(100vw + 1200px);}
	66% {width: calc(0vw + 800px);}
	100% {width: calc(50vw + 1000px);}
}

.animate-designer span {
    display: inline-block;
    opacity: 0;
    transform: rotate(-180deg) translate(150px, 0);
    animation: designer 0.75s forwards;
}

@keyframes designer {
	10% {opacity: 1;}
	100% {transform: rotate(0deg) translate(0); opacity: 1;}
}

.animate-designer span:nth-of-type(1) {
    animation-delay: 3s;
}

.animate-designer span:nth-of-type(2) {
    animation-delay: 3.05s;
}

.animate-designer span:nth-of-type(3) {
    animation-delay: 3.1s;
}

.animate-designer span:nth-of-type(4) {
    animation-delay: 3.15s;
}

.animate-designer span:nth-of-type(5) {
    animation-delay: 3.2s;
}

.animate-designer span:nth-of-type(6) {
    animation-delay: 3.25s;
}

.animate-designer span:nth-of-type(7) {
    animation-delay: 3.3s;
}

.animate-designer span:nth-of-type(8) {
    animation-delay: 3.35s;
}

/*-----------------------------------------*/
/*---------------- NAVBAR -----------------*/
/*-----------------------------------------*/
nav {
    top: 0;
    position: sticky;
    font-weight: bold;
    z-index: 100;
    padding: 0 5%;
    transition: var(--transAll);
    background-color: rgba(var(--black), 0.9);
    box-shadow: 0 4px 16px 0 rgba(var(--blueDark4), 0.5);
}

nav .nav-wrapper {
    line-height: 64px;
}

nav:hover {
    background-color: rgba(var(--black), 1);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul a {
    font-family: var(--fontMontserrat);
    font-size: 1.5em;
    padding: 0;
    letter-spacing: 5px;
    max-height: 80px;
    transition: var(--transAll);
}

nav ul a:hover {
    background-color: transparent;
    color: rgba(var(--lightBlueDark4), 1);
}


nav .sidenav-trigger {
    font-size: 2em;
}

.sidenav {
    z-index: 1001;
    display: flex;
    flex-direction: column;
    border-left: 10px solid rgba(var(--blueDark1), 0.5);
}

.sidenav li {
    line-height: unset;
}

.sidenav li a,
.sidenav li a i {
    color: rgba(var(--white), 1);
    transition: var(--transAll);
}

.sidenav-overlay {
    z-index: 1000;
    background-color: rgba(var(--black), 0.9);
}

.sidenav-header {
    padding: 10px 0;
}

.sidenav li a {
    border-left: 0 solid rgba(var(--lightBlueDark4), 1);
}

.sidenav li:hover a {
    border-left: 10px solid rgba(var(--lightBlueDark4), 1);
    color: rgba(var(--lightBlue), 1);
}

.sidenav li a i {
    float: unset;
}

.sidenav .divider {
    margin: 0 auto;
}

nav .brand-logo {
    letter-spacing: 2px;
    font-size: 2.5em;
}

nav .brand-logo span {
    display: inline-flex;
    font-family: var(--fontMontserrat);
}

nav .brand-logo span.hide-span {
    overflow: hidden;
    letter-spacing: -1em;
    transition: var(--transAll);
}

nav:hover .brand-logo span.hide-span {
    letter-spacing: unset;
}

nav:hover .brand-logo span:nth-child(4) {
    transition-delay: 0.2s;
}

/*-----------------------------------------*/
/*--------------- SECTIONS ----------------*/
/*-----------------------------------------*/
section {
    padding: 1em;
    width: 100%;
    overflow-x: hidden;
}

.section-heading {
    margin: 2em auto;
}

.heading-span {
    background-color: rgba(var(--lightBlueDark4), 1);
    color: rgba(var(--white), 1);
    padding: 5px 10px;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 2px;
    border: 3px solid rgba(var(--white), 1);
    box-shadow: 0 0 0 3px rgba(var(--lightBlueDark4), 1);
    transition: var(--transAll);
}

.parallax-container {
    height: 20vw;
}

.parallax-container img {
    width: 100vw;
}

.card-custom {
    margin: 2em auto;
    padding: 25px;
    background-color: rgba(var(--white), 1);
    border-radius: 8px;
    border-top: 3px solid rgba(var(--blueDark4), 0.75);
    border-bottom: 3px solid rgba(var(--blueDark4), 0.75);
    box-shadow: 0 0 15px 5px rgba(var(--black), 1);
}

/*-----------------------------------------*/
/*----------------- ABOUT -----------------*/
/*-----------------------------------------*/
.polaroid {
    position: relative;
    float: left;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 0.75em;
    filter: grayscale(100%);
    background-color: rgba(var(--white), 1);
    transition: var(--transAll);
    transform: scale(0.75) rotate(-5deg);
    box-shadow: 0 8px 20px rgba(var(--black), 1);
}

.polaroid img {
    border-radius: 4px;
    width: fit-content;
}

.polaroid .font-permanent-marker {
    letter-spacing: 5px;
}

.polaroid:hover {
    transition-delay: 0.4s;
    filter: grayscale(0%);
    transform: scale(0.9) rotate(0);
}

.polaroid:hover .tape-top-left,
.polaroid:hover .tape-top-right {
    opacity: 0;
}

.polaroid:hover .tape-top-left {
    left: -500px;
    transform: rotate(-360deg);
}

.polaroid:hover .tape-top-right {
    right: -500px;
    transform: rotate(360deg);
    transition-delay: 0.2s;
}

.tape-top-left,
.tape-top-right {
    position: absolute;
    top: 0;
    height: 40px;
    width: 35%;
    transition: var(--transAll);
    background-color: rgba(var(--white), 0.5);
    border-left: 1px dashed rgba(var(--black), 0.5);
    border-right: 1px dashed rgba(var(--black), 0.5);
}

.polaroid .tape-top-left {
    left: -10%;
    transform: rotate(-35deg) skew(0, 0) translate(0%, 10px);
}

.polaroid .tape-top-right {
    right: -10%;
    transform: rotate(35deg) skew(0, 0) translate(0%, 10px);
}

#about {
    letter-spacing: 1px;
}

#about p {
    margin: 1em auto;
    line-height: 1.75em;
    text-shadow: var(--textShadow);
}

#about p:nth-child(1) {
    display: inline-block;
    border: 1px solid rgba(var(--greyLight4), 1);
    background-color: rgba(var(--black), 1);
    font-family: Courier, monospace;
    border-radius: 5px;
    padding: 0;
}

kbd {
    cursor: text;
    color: rgba(var(--lightBlue), 1);
    display: inline-block;
    overflow: hidden;
    padding: 2px 8px;
    margin-right: 8px;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 2px;
    white-space: nowrap;
    vertical-align: middle;
    border-right: 4px solid rgba(var(--lightBlue), 1);
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
    from { width: 0%;}
    to {width: 100%; max-width: fit-content;}
}

@keyframes blink {
    from, to {border-right-color: transparent;}
    50% {border-right-color: rgba(var(--lightBlue), 1);}
}

#about ul {
    columns: 1;
}

#about ul li {
    list-style-type: disc;
    margin-left: 0.5em;
    padding: 5px 0;
    border-bottom: 1px solid rgba(var(--lightBlue), 0.25);
}

#about ul li img {
    max-height: 12px;
}

.html-color,
.css-color,
.js-color,
.py-color,
.ps-color,
.ai-color,
.ae-color,
.sql-color {
    font-weight: bolder;
}

.html-color {
    color: #f16529;
}

.css-color {
    color: #2965f1;
}

.js-color {
    color: #ffda3e;
}

.sql-color {
    color: rgba(var(--white), 1);
}

.py-color {
    background: linear-gradient(to right, #366E9C 0%, #366E9C 45%, #FFD03E 50%, #FFD03E 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.ps-color,
.ai-color,
.ae-color {
    padding: 1px 4px;
    white-space: nowrap;
}

.ps-color {
    color: #00C3F8;
    border: 1px solid #00C3F8;
    background-color: #001C25;
}

.ai-color {
    color: #F87900;
    border: 1px solid #F87900;
    background-color: #251200;
}

.ae-color {
    color: #CC8DF8;
    border: 1px solid #CC8DF8;
    background-color: #1E003E;
}

/*-----------------------------------------*/
/*-------------- PORTFOLIO ----------------*/
/*-----------------------------------------*/
.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    grid-gap: 1em;
    align-self: center;
    justify-items: center;
    color: rgba(var(--greyLight4), 1);
}

.portfolio-list li figure {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: fit-content;
    perspective: 50em;
    border-radius: 8px;
    background-color: rgba(var(--white), 0);
    box-shadow: 0 0 1em 0 rgba(var(--black), 1);
    transition: var(--transAll);
}

.portfolio-list li figure img {
    width: 100%;
    border-radius: 8px;
    vertical-align: middle;
    transition: var(--transAll);
}

.portfolio-list li figure figcaption {
    position: absolute;
    width: 100%;
    padding: 3%;
    text-align: center;
    z-index: 2;
    top: 50%;
    opacity: 0;
    transition: var(--transAll);
}

.portfolio-list li figure figcaption a.btn {
    margin: 2px;
    color: rgba(var(--greyLight4), 1);
    background-color: rgba(var(--greyDark4), 1);
}

.portfolio-list li figure::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    opacity: 0;
    background-color: rgba(var(--blueDark4), 1);
    transform: rotateX(-90deg);
    transform-origin: 50% 50%;
    transition: var(--transAll);
    transition-delay: 0.2s;
}

.portfolio-list li figure:hover img {
    transform: scale(1.25);
    opacity: 0.5;
}

.portfolio-list li figure:hover {
    background-color: rgba(var(--white), 1);
    box-shadow: 0 0 0.75em 0 rgba(var(--white), 1);
}

.portfolio-list li figure:hover figcaption {
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateY(-50%);
}

.portfolio-list li figure:hover::after,
.portfolio-list li figure.hover::after {
    transform: rotateX(0);
    opacity: 0.9;
}

.chip-container {
    margin: 1em auto 3em auto;
    width: 350px;
}

.chip-container li.chip {
    width: fit-content;
    font-weight: bold;
    color: rgba(var(--greyLight4), 1);
    background-color: rgba(var(--blueDark4), 1);
}

.chip-container li.chip img {
    background-color: rgba(var(--greyLight4), 1);
}

/*-----------------------------------------*/
/*---------------- SKILLS -----------------*/
/*-----------------------------------------*/
#skills {
    overflow: hidden;
}

#skills h2 {
    margin-bottom: 4em;
}
.hexagons-6x:last-child {
    margin-bottom: 2em;
}

.hexagons-6x,
.hexagons-5x {
    overflow: hidden;
    width: 95%;
    margin: -3% 7.5%;
}

.hexagons-6x li,
.hexagons-5x li {
    position: relative;
    list-style-type: none;
    margin: 0 0.5%;
    width: 13.92%; /* (100-2.5) / 3.5 / 2 */
    padding-bottom: 16.07%; /* ^width / 0.866 / 2 */
    float: left;
    overflow: hidden;
    transform: rotate(-60deg) skewY(30deg);
    transition: var(--transAll);
}

.hexagons-6x li *,
.hexagons-5x li * {
    position: absolute;
}

.hexagons-6x li div,
.hexagons-5x li div {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: rgba(var(--greyLight4), 1);
    transform: skewY(-30deg) rotate(60deg);
}

.hexagons-6x li img,
.hexagons-5x li img {
    left: -100%;
    right: -100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(var(--greyLight4), 1);
}

.hexagons-6x li div h1,
.hexagons-5x li div h1 {
    opacity: 0;
    top: -25vw;
    width: 100%;
    font-size: 2vw;
    line-height: 20vw;
    text-shadow: var(--textShadow);
    transition: var(--transAll);
    transition-delay: 0.15s;
    background-color: rgba(var(--blueDark4), 0.9);
}

.hexagons-6x li:last-child {
    margin-right: 5%;
}

.hexagons-5x {
    margin-left: 14.5%;
    margin-top: -3%;
}

.hexagons-6x li div:hover h1,
.hexagons-5x li div:hover h1 {
    top: -5vw;
    opacity: 1;
}

.hexagons-6x li:hover,
.hexagons-5x li:hover {
    transform: rotate(660deg) skewY(30deg);
}

/*-----------------------------------------*/
/*---------------- CONTACT ----------------*/
/*-----------------------------------------*/
#contact ul {
    width: 100%;
    align-self: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    font-size: 1em;
    white-space: nowrap;
}

#contact ul li {
    margin: 0.5em;
    font-family: var(--fontPermanentMarker);
}

#contact ul li i {
    font-size: 2em;
    text-shadow: 0 1px 2px rgba(var(--greyLight4), 1);
    color: rgba(var(--greyDark4), 1);
}

/*-----------------------------------------*/
/*---------------- FOOTER -----------------*/
/*-----------------------------------------*/
footer {
    min-height: 25vh;
}

/*-----------------------------------------*/
/*------------ @MEDIA QUERIES -------------*/
/*-----------------------------------------*/

/* >600px Materialize Tablet size (.m) */
@media (min-width: 600px) {
    #about ul {
        columns: 2;
    }

    #contact ul {
        font-size: 1.5em;
    }
}

/* >992px Materialize Desktop size (.l) */
@media (min-width: 992px) {
    #contact ul {
        font-size: 2em;
    }
}
