/*----- @imports -----*/
@import url("https://fonts.googleapis.com/css?family=Bowlby+One|Montserrat:400,600,700|Open+Sans:400,600,700&display=swap");

/*----- split image -----*/
:root {
    --blueDark1: 30, 136, 229;
    --blueDark2: 25, 118, 210;
    --blueDark3: 21, 101, 192;
    --blueDark4: 13, 71, 161;
    --lightBlue: 3, 169, 244;
    --lightBlueDark4: 1, 87, 155;
    --greyLight4: 245, 245, 245;
    --greyDark3: 66, 66, 66;
    --greyDark4: 33, 33, 33;
    --black: 0, 0, 0;
    --white: 255, 255, 255;
    --fontDefault: "Open Sans", Verdana, Geneva, Tahoma, sans-serif, serif;
    --fontBowlby: "Bowlby One", cursive;
    --fontMontserrat: "Montserrat", sans-serif;
    --textShadow: 2px 2px 2px rgba(var(--black), 0.5);
    --transAll: all 0.3s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--fontDefault);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    background-color: rgba(var(--greyDark4), 1);
}

*::selection {
    background-color: rgba(var(--lightBlueDark4), 1);
    color: rgba(var(--white), 1);
}

:focus {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
    vertical-align: middle;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .67em;
}

.font-bowlby {
    font-family: var(--fontBowlby);
}

.text-shadow {
    text-shadow: var(--textShadow);
}

.active-section {
    color: rgba(var(--lightBlue), 1);
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

/*----- top button -----*/
#btn-top {
    font-size: 1.75em;
    cursor: pointer;
    position: fixed;
    bottom: 2em;
    right: -3em;
    opacity: 0.5;
    z-index: 100;
    text-shadow: var(--textShadow);
    transform: rotate(180deg);
    transition: var(--transAll);
}

#btn-top:hover {
    opacity: 1;
}

/*----- split image -----*/
header {
    position: relative;
    width: 100%;
    height: 30vw;
    overflow: hidden;
    z-index: 101;
}

.layer {
    position: absolute;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
}

.layer .content-header {
    position: absolute;
    width: 100vw;
    min-height: 30vw;
}

.layer .content-body {
    width: 25%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.layer img {
    position: absolute;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer span {
    font-size: 3vw;
    font-family: var(--fontBowlby);
    letter-spacing: 3px;
}

.designer {
    z-index: 1;
}

.designer .content-body {
    right: 5%;
}

.developer {
    z-index: 2;
    /* width: 50vw; */
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
    animation: developer 6s ease-in-out;
}

.developer .content-header {
    transform: skew(30deg);
    margin-left: 1000px;
}

.developer .content-body {
    left: 5%;
}

@keyframes developer {
	0% {width: calc(50vw + 1000px);}
	33% {width: calc(100vw + 1200px);}
	66% {width: calc(0vw + 800px);}
	100% {width: calc(50vw + 1000px);}
}

.animate-designer span {
    display: inline-block;
    opacity: 0;
    transform: rotate(-180deg) translate(150px, 0);
    animation: designer 0.75s forwards;
}

@keyframes designer {
	10% {opacity: 1;}
	100% {transform: rotate(0deg) translate(0); opacity: 1;}
}

.animate-designer span:nth-of-type(1) {
    animation-delay: 3s;
}

.animate-designer span:nth-of-type(2) {
    animation-delay: 3.05s;
}

.animate-designer span:nth-of-type(3) {
    animation-delay: 3.1s;
}

.animate-designer span:nth-of-type(4) {
    animation-delay: 3.15s;
}

.animate-designer span:nth-of-type(5) {
    animation-delay: 3.2s;
}

.animate-designer span:nth-of-type(6) {
    animation-delay: 3.25s;
}

.animate-designer span:nth-of-type(7) {
    animation-delay: 3.3s;
}

.animate-designer span:nth-of-type(8) {
    animation-delay: 3.35s;
}

/*----- navbar -----*/
nav {
    top: 0;
    position: sticky;
    font-weight: bold;
    z-index: 100;
    padding: 0 5%;
    transition: var(--transAll);
    background-color: rgba(var(--black), 0.9);
    box-shadow: 0 4px 16px 0 rgba(var(--lightBlueDark4), 0.5);
}

nav:hover {
    background-color: rgba(var(--black), 1);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul a {
    font-family: var(--fontMontserrat);
    font-size: 1.5em;
    padding: 0;
    letter-spacing: 5px;
    max-height: 80px;
    transition: var(--transAll);
}

nav ul a:hover {
    background-color: transparent;
    color: rgba(var(--lightBlueDark4), 1);
}

nav .sidenav-trigger {
    font-size: 2em;
}

.sidenav {
    display: flex;
    flex-direction: column;
    border-left: 1em solid rgba(var(--black), 0.5);
}

.sidenav li {
    line-height: unset;
}

.sidenav li a,
.sidenav li a i {
    color: rgba(var(--white), 1);
    transition: var(--transAll);
}

.sidenav-overlay {
    background-color: rgba(var(--black), 0.9);
}

.sidenav-header {
    padding: 10px 0;
}

.sidenav li a {
    border-left: 0 solid rgba(var(--lightBlueDark4), 1);
}

.sidenav li:hover a {
    border-left: 10px solid rgba(var(--lightBlueDark4), 1);
    color: rgba(var(--lightBlue), 1);
}

.sidenav li a i {
    float: unset;
}

.sidenav .divider {
    margin: 0 auto;
}

/*----- sections -----*/

section {
    padding: 1em;
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 5vw;
    /* overflow-x: hidden; */
}

.parallax-container {
    height: 20vw;
}

.parallax-container img {
    width: 100vw;
}

.card-custom {
    margin: 2em auto;
    padding: 25px;
    background-color: rgba(var(--white), 1);
    border-radius: 8px;
    border-top: 3px solid rgba(var(--blueDark4), 0.75);
    border-bottom: 3px solid rgba(var(--blueDark4), 0.75);
    box-shadow: 0 0 15px 5px rgba(var(--black), 1);
}

/*----- skills -----*/
.hexagons-6x,
.hexagons-5x {
    overflow: hidden;
    width: 95%;
    margin: -3% 7.5%;
}

.hexagons-6x li,
.hexagons-5x li {
    position: relative;
    list-style-type: none;
    margin: 0 0.5%;
    width: 13.92%; /* (100-2.5) / 3.5 / 2 */
    padding-bottom: 16.07%; /* ^width / 0.866 / 2 */
    float: left;
    overflow: hidden;
    transform: rotate(-60deg) skewY(30deg);
}

.hexagons-6x li *,
.hexagons-5x li * {
    position: absolute;
}

.hexagons-6x li div,
.hexagons-5x li div {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    color: rgba(var(--greyLight4), 1);
    transform: skewY(-30deg) rotate(60deg);
}

.hexagons-6x li img,
.hexagons-5x li img {
    left: -100%;
    right: -100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(var(--greyLight4), 1);
}

.hexagons-6x li div h1,
.hexagons-5x li div h1 {
    opacity: 0;
    top: -25vw;
    width: 100%;
    font-size: 2vw;
    line-height: 20vw;
    text-shadow: var(--textShadow);
    transition: var(--transAll);
    background-color: rgba(var(--blueDark4), 0.8);
}

.hexagons-6x li:last-child {
    margin-right: 5%;
}

.hexagons-5x {
    margin-left: 14.5%;
    margin-top: -3%;
}

.hexagons-6x li div:hover h1,
.hexagons-5x li div:hover h1 {
    top: -5vw;
    opacity: 1;
}

/*----- about -----*/
/* #about {
    min-height: 150vh;
} */

/*----- projects -----*/
/* #projects {
    min-height: 150vh;
} */

/*----- skills -----*/
/* #skills {
    min-height: 150vh;
} */

/*----- contact -----*/
#contact {
    min-height: 150vh;
}

/*----- footer -----*/
footer {
    min-height: 50vh;
}

/*----- MEDIA QUERIES -----*/

/* >600px Materialize Tablet size (.m) */
@media (min-width: 600px) {}

/* >992px Materialize Desktop size (.l) */
@media (min-width: 992px) {}
